.App {
  margin: 0;
  padding: 0;
  height: 100%;
}

.App-title {
  margin-top: 20px;
  margin-left: 15%;
  font-size: 4em;
}

.App-content {
  font-size: large;
  margin-right: 20px;
  margin-left: 5%;
}

