$defaultFontFamily: FantasqueSansMonoRegular, Arial, Verdana, "Microsoft YaHei", sans-serif;
$defaultShadow: 1px 1px 2px #b5b5b5;
$defaultButtonColorOnHover: #3ea6f8;
$defaultDarkColor: #232323;


// General Configurations

html, body, #root {
  height: 100%;
}

* {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}


body {
  margin: 0;
  padding: 0;
  font-family: $defaultFontFamily;
  color: $defaultDarkColor;
  background: url(../images/bg3.png) repeat;
  font-size: 14px;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -khtml-border-radius: 5px;
}

*, *:before, *:after {
  box-sizing: border-box;
}

.Page {
  //width: 960px;
  margin: 0 auto;
  padding-bottom: 120px;
  height: 100%;
}

.Header {
  color: #fff;
  background: $defaultDarkColor url(../images/logo.svg) no-repeat right 10px;
  background-size: contain;
  h1 {
    display: inline-block;
    padding: 0 20px;
  }
  .Link {
    display: inline-block;
    margin: 10px;
    padding: 11px;
    color: #fff;
    text-decoration: none;
    border-radius: 3px;
    &.active, &:hover {
      background-color: $defaultButtonColorOnHover;
      text-shadow: 0px 0px 3px $defaultDarkColor;
    }
  }
}

.Nav {
  // background: $defaultDarkColor;
  // margin-right: 12%;
  background: url(../images/navbar.png) repeat-x; 
  height: 100px;
  // position: relative;
  z-index:3;

  .Nav-Content {
    text-align: right;
    top: 50px;
    margin-right: 12%;
    z-index: 4;
    position: relative;
  }
}

.Content {
  width: 80%;
  margin: 0 auto;
  border-right: 1px solid #d5d5d5;
  border-left: 1px solid #d5d5d5;
  border-bottom: 1px solid #d5d5d5;
  line-height:24px;
  min-height: 75%;
  height: auto !important;
  height: 75%; // IE6不识别min-height
  padding:0 30px 0 30px;
  background: #f9f9f9;
  z-index:1;

  .Content-header{
    height:70px;
  }

  .Post-content { 
    position:relative;
    top:-10px;
  }

  ul li{ 
    background: url(../images/info.png) 
    no-repeat; 
    background-position:0px -61px;
    text-indent:1.2em;
    list-style: none;
  }

  blockquote{
    clear:both;
    display:block;
    overflow:auto;
    border:1px solid #ccc;
    margin:10px 10px 0 10px;
    padding:4px 10px;
    width:auto;
    background:url(../images/bqbg.png) repeat; 
    font-size:14px;
    border-radius:5px;
    -webkit-border-radius:5px;
    -moz-border-radius:5px;
    -khtml-border-radius:5px;
  }
  
}


.Footer {
  color: #fff;
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 30px;
  background: $defaultDarkColor;
  clear: both;
}

.Section {
  padding: 20px;
}

/* drop down first character */
div.DropDown-Content > p:first-child:first-letter {
  float:left;
  font-size:4em;
  color: #0099ff;
  margin-right:0.10em;
  line-height:90%;
  text-shadow:$defaultShadow;
  }


.BoxShadow {
  box-shadow: $defaultShadow;
}

.TextShadow {
  text-shadow: $defaultShadow;
}


// based on flex
// how to easily in the center of your box?
.Center {
  // width required here
  display: -webkit-flex;
  display:         flex;
  -webkit-align-items: center;
          align-items: center;
  -webkit-justify-content: center;
          justify-content: center;
}

// some workaround(s)

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0;
}

* html .clearfix {
  zoom: 1;
}

*:first-child + html .clearfix {
  zoom: 1;
}

// Customized Configurations

.App {
  margin: 0;
  padding: 0;
  height: 100%;
}

.App-title {
  margin-top: 20px;
  margin-left: 15%;
  font-size: 4em;
}

.App-content {
  padding: 1em;
  font-size: large;
  width: 80%;
  margin: 0 auto;
}

