@import url(https://fonts.googleapis.com/css?family=Roboto|Ranga|Damion|Bubblegum+Sans|UnifrakturMaguntia);

$defaultFontFamily: Roboto, Arial, Verdana, "Microsoft YaHei", sans-serif;
$defaultShadow: 1px 1px 2px #b5b5b5;
$defaultButtonColorOnHover: #3ea6f8;
$defaultBodyBackgroundColor: #fcfcfc;
$defaultContentBackgroundColor: #f9f9f9;
$defaultDarkColor: #232323;
$defaultBorderColor: #d5d5d5;


$comicFontFamily: Ranga, Arial, Verdana, "Microsoft YaHei", sans-serif;
$handscriptFontFamily: Damion, Arial, Verdana, "Microsoft YaHei", sans-serif;